<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="./css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700&display=swap" rel="stylesheet">
    <title>Lost & Found</title>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <img class="logo" src="/images/images/logo/roundl&f.png" alt="logo">
            </div>
            <div class="text-box">
                <h1>Get your things secured,<br>before you lose them</h1>
                <a class="btn-full" href="/signup">Get Secured</a>
                <a class="btn-ghost" href="/login">Login</a>
            </div>
        </nav>
    </header>
    <section class="details">
        
    </section>
</body>
</html>