<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result of QR</title>
</head>
<body>
    <h1><em>Thanks for scanning the QR Code!</em></h1>

    <h4>This Item belongs to:</h4>
    <p>Name: {{name}}</p>
    <p>Mobile No.: {{mobilenum}}</p>
    <p>Email ID:: {{email}}</p>
    <p>Address: {{address}}</p>

    <h4>Please contact the above Person to report their item being lost. Thank You!</h4>
</body>
</html>