<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your QR is ready!</title>
        <link rel="stylesheet" type="text/css" href="./css/qr.css">
        <link rel="stylesheet" type="text/css" href="./css/qrresp.css">
    </head>
    <body>
        <div class="loginbox">
            <h1>Your QR is ready!</h1>
            <form action="editprofile.html">
                <img src={{ src }} class="qrimage">
                {{!-- <input type="submit" name="" value="Download"> --}}
                <h4>To Download the image, Please Hold or Right-click on the image and select "Save Image as".</h4>

            </form>
        </div>
    </body>
</html>