<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up - Lost & Found Center</title>
        <link rel="stylesheet" type="text/css" href="./css/signup.css">
        <link rel="stylesheet" type="text/css" href="./css/signupresp.css">
    </head>
    <body>
        <div class="loginbox">
            <img src="images/logo/avatar2.jpg" class="avatar">
            <h1>Register Here</h1>
            <form action="/signup" method="POST">
                <label for="email">E-mail</label>
                <input name="email" type="email" placeholder="Enter Email ID" required>

                <label for="username">Username</label>
                <input name="username" type="text" placeholder="Enter Username" required>

                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Password's min. length: 8" required>
                <div class="error">
                    {{#if error}}
                        <p>{{errorMessage}}</p>
                    {{/if}}
                </div>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </body>
</html>