html{
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./../images/background/pxfuel-min.jpg);
    background-size: 2600px;
    font-family: sans-serif;
    background-position: center;
    height: 100vh;

}

.loginbox{
    margin-top: 220px;
    border-radius: 30px;
    width: 640px;
    height: 940px;
    background: rgb(24, 24, 24);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] ,input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: #cf6d17;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.loginbox input[type="Submit"]:hover
{
    cursor: pointer;
    background-color: #b45400;
    color: #fff;
}
.loginbox a{
    text-decoration: none;
    font-size:12 px;
    line-height: 20px;
    color: darkgrey;
    transition: color 0.5s;
}

.loginbox a:hover
{
    color: #cf6d17;
}

#state, #add, #sec_que{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 585px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

#add{
    height: 60px;
}

#add{
    margin-bottom: 50px;
}

#savebtn{
    width: 200px;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#state, #sec_que{
    background: rgb(24,24,24);
    color: #fff;
}