
/* From big tablets to 1300px(width smaller then the 1140px row */
@media only screen and (max-width: 1200px) {  
    .logo {
        margin-left: 70px;
    }

    .loginbox{

        height: 380px;
        margin-top: 30px;
    }
}

/* Small phones to snall tablets: from 481 pixels to 767 pixels */
@media only screen and (max-width: 767px) {
    .loginbox{
        width: 400px;
        height: 420px;
        margin-top: 30px;
    }

    .logo {
        margin-left: 20px;
        height: 80px;
    }

    section{
        height: 130px;
    }

    h1{
        margin-top: -10px;
        font-weight: 200;
    }
    
}


/* Small Phones: from 0 to 480 pixels*/
@media only screen and (max-width: 480px) {
    .loginbox{
        margin-left: -10px;
        width: 290px;
        height: 310px;
        margin-top: 40px;
    }

    section{
        height: 120px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 10px;
        font-size: 70%;
        color: #e67e22;
    }

    .logo {
        margin-left: 10px;
        height: 65px;
        margin-right: 20px;
    }

    body{
        overflow: hidden;
    }

    .details label {
        line-height: 170%;
        font-size: 80%;
        font-weight: 100;
        margin-left: -10px;
    }

    h1{
        margin-top: -30px;
        font-size: 130%;
    }
}